<div class="hero-style-4 {% for mod in mods %} hero-style-4--{{ mod }} {% endfor %}">
    <div class="container">
        <div class="text-center p-8 md:p-12 relative">
            <h2 class="text-4xl font-bold">
                {%- if preheading -%}
                    <span class="font-light block">
                        {{ preheading }}
                    </span>
                {%- endif -%}
                {%- if heading -%}
                    This is a heading
                {%- endif -%}
            </h2>
            {%- if body -%}
                <div class="mt-6 text-lg">
                    {{ body }}
                </div>
            {%- endif -%}
            {%- if cta_url -%}
                <a class="cta-primary mt-6" href="{{ cta_url }}">{{ cta_text | default: 'Learn More' }}</a>
            {%- endif -%}
        </div>
    </div>
</div>
